.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-loader {
    margin-top: 10px;
    transform: translateX(-25px);
}

.home-page-number {
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

.home-pagination-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-pagination-controls-container {
    display: flex;
    flex-direction: column;
}

.home-attribute-dropdown {
    margin: 10px 0px 10px 0px;
}

button {
    padding: 10px;
}