.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: hsl(0, 0, 10);
}

.home-loader {
    margin-top: 10px;
    transform: translateX(-25px);
}

.home-page-number {
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

.home-pagination-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-pagination-controls-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.home-attribute-dropdown {
    margin: 10px 0px 10px 0px;
}

.home-bar-chart {
    width: 100%;
    margin: 20px 50px 20px 50px;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px;
}